<div class="container">
    <div class="reset-password shadow-lg p-5 w-50 text-center bg-main-light mx-auto" *ngIf="!isRequested" else
        #verifyCode>
        <h3 class="h1"> Reset Password </h3>
        <p class="my-5">We will send a verification code to your email address</p>
        <form [formGroup]="resetForm" (ngSubmit)="handleReset(resetForm)">
            <div class="form-floating">
                <input type="email" formControlName="email" class="form-control">
                <label for="email"> Email </label>
            </div>
            <button [disabled]="resetForm.invalid" type="submit" class="btn bg-main text-white">
                <i *ngIf="isLoading" class="fa-solid fa-spinner fa-spin"></i>
                <span *ngIf="!isLoading">Login</span>
            </button>
        </form>

    </div>
    <ng-template #verifyCode>
        <div class="verify-password shadow-lg p-5 w-50 text-center bg-main-light mx-auto" *ngIf="isRequested">
            <h3 class="h1"> Verify Password </h3>
            <p class="my-5 text-muted">We have sent a verification code to your email address please enter the code
                given to
                you</p>

            <form [formGroup]="verifyCodeForm" (ngSubmit)="handleCodeForm(verifyCodeForm)">
                <div class="form-floating">
                    <input type="text" formControlName="resetCode" class="form-control">
                    <label for="resetCode"> Code </label>
                </div>
                <button [disabled]="verifyCodeForm.invalid" type="submit" class="btn bg-main text-white">
                    <i *ngIf="isCodeSentLoading" class="fa-solid fa-spinner fa-spin"></i>
                    <span *ngIf="!isCodeSentLoading">Login</span>
                </button>
            </form>
            <div *ngIf="errorMsg" class="alert alert-danger mt-2">
                {{errorMsg}}
            </div>
        </div>
    </ng-template>

</div>