<!-- <div class="container">
    <div class="reset-password shadow-lg p-5 w-50 text-center bg-main-light mx-auto">
        <h3 class="h1"> Reset Password </h3>
        <form [formGroup]="passwordForm" (ngSubmit)="handleReset(passwordForm)">
            <div class="form-floating">
                <input type="password" formControlName="password" class="form-control">
                <label for="email"> Email </label>
            </div>
            <div class="form-floating">
                <input type="email" formControlName="email" class="form-control">
                <label for="email"> Email </label>
            </div>
            <button [disabled]="passwordForm.invalid" type="submit" class="btn bg-main text-white">
                <i *ngIf="isLoading" class="fa-solid fa-spinner fa-spin"></i>
                <span *ngIf="!isLoading">Login</span>
            </button>
        </form>

    </div>
</div> -->