<div class="w-75 mx-auto p-4">
    <form [formGroup]="loginForm" (ngSubmit)="handleLogin(loginForm)">
        <label for="email">Email</label>
        <input type="email" formControlName="email" id="email" class="form-control mb-2">

        <div *ngIf="loginForm.get('email')?.errors && loginForm.get('email')?.touched" class="alert alert-danger">
            <p *ngIf="loginForm.get('email')?.getError('required')">
                Email is Required
            </p>
            <p *ngIf="loginForm.get('email')?.getError('email')">
                Invalid Email Format
            </p>
        </div>

        <label for="password">Password</label>
        <input type="password" formControlName="password" id="password" class="form-control mb-2">
        <div *ngIf="loginForm.get('password')?.errors && loginForm.get('password')?.touched" class="alert alert-danger">
            <p *ngIf="loginForm.get('password')?.getError('required')">
                password is Required
            </p>
        </div>
        <button [disabled]="loginForm.invalid" type="submit" class="btn btn-success">
            <i *ngIf="isLoading" class="fa-solid fa-spinner fa-spin"></i>
            <span *ngIf="!isLoading">Login</span>
        </button>
    </form>

    <div *ngIf="errorMsg" class="alert alert-danger mt-2">
        {{errorMsg}}
    </div>

</div>