<div class="w-50 mx-auto my-5">
    <form [formGroup]="shippingForm" (ngSubmit)="handleSubmit(shippingForm)">

        <label for="Address"></label>
        <textarea type="text" class="form-control mb-2" formControlName="details" id="details"
            placeholder="Enter Your Adderss ..."> </textarea>

        <div *ngIf="shippingForm.get('details')?.errors && shippingForm.get('details')?.touched"
            class="alert alert-danger">
            <p *ngIf="shippingForm.get('details')?.getError('required')">
                Adderss is Required
            </p>
        </div>
        <label for="phone"></label>
        <input type="text" class="form-control mb-2" formControlName="phone" id="phone" placeholder="Enter your phone">

        <div *ngIf="shippingForm.get('phone')?.errors && shippingForm.get('phone')?.touched" class="alert alert-danger">
            <p *ngIf="shippingForm.get('phone')?.getError('required')">
                Phone is Required
            </p>
        </div>

        <label for="city"></label>
        <input type="text" class="form-control mb-2" formControlName="city" id="city" placeholder="Enter your City">

        <div *ngIf="shippingForm.get('city')?.errors && shippingForm.get('city')?.touched" class="alert alert-danger">
            <p *ngIf="shippingForm.get('city')?.getError('required')">
                City is Required
            </p>
        </div>

        <button [disabled]="shippingForm.invalid" type="submit" class="btn btn-success">
            <i *ngIf="isLoading" class="fa-solid fa-spinner fa-spin"></i>
            <span *ngIf="!isLoading">Pay Online</span>
        </button>

    </form>
</div>